filmy.dtd

<!ENTITY % dane "tytul, gatunki, dataPremiery,rezyser">
<!ELEMENT listaFilmow (header, film*)>
<!ELEMENT film (%dane;)>
<!ELEMENT gatunki (gatunek+)>
<!ELEMENT tytul      	(#PCDATA)>
<!ELEMENT header     	(#PCDATA)>
<!ELEMENT gatunek	 	(#PCDATA)>
<!ELEMENT rezyser       (#PCDATA)>
<!ELEMENT dataPremiery  (#PCDATA)>
  
<!ATTLIST tytul rok CDATA #REQUIRED >

